<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alsat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>

    <div data-ng-app="myApp" data-ng-controller="myCtrl">

        hisse maaliyeti: <input type="number" data-ng-model="maaliyet"><br>
        kar etmek istediğin yüzde: <input type="number" data-ng-model="kar"><br>
        <br>
        Hisseyi satman gereken fiyat: {{hisseSon()}}
        
        </div>
        
        <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
           
            $scope.maaliyet= 100;
          $scope.kar= 5;
            
            $scope.hisseSon= function(){
            $scope.toplam=$scope.maaliyet + ($scope.maaliyet * $scope.kar * 0.01);
            $scope.toplam=$scope.toplam.toFixed(2);
            return $scope.toplam;
            }
          
        });
        </script>

    
</body>
</html>